body{
    background-color: #292929;
}

/* TEKST */

h1{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    padding: 15px;
}

header h1{
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    line-height: 125%;
    margin-left: 10px;
}
h2{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    font-weight: lighter;
    font-style: oblique;
    padding: 15px;
}

p{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    line-height: 150%;
    font-size:larger;
    padding: 15px;
}

a{
    color: #F5F5F5;
    font-family: Helvetica, arial, sans-serif;
    line-height: 150%;
    font-size:large;
}


.portfoliocontainer figure{
    display: inline-block;
    background-color: #292929;
    border: 5px solid #F5F5F5;
    padding: 10px;
    text-align: left;
    width: auto;
    height: auto;
    
}


.portfoliocontainer h1{
    font-family: Helvetica, arial, sans-serif;
    font-weight:bolder;
    color: #F5F5F5;
    font-size: 600%;
}

.portfoliocontainer h3{
    font-family: Helvetica, arial, sans-serif;
    font-weight:lighter;
    font-style: oblique;
    color: #F5F5F5;
    font-size: 300%;
    line-height: 100%;
}
